body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

/* CSS */
.container {
    border: none;
    box-shadow: none;
    border-radius: 0;
    background-color: white;
    max-height: 80vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.image-container {
    flex: 1;
    display: block;
    height: 100%;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
}

.form-container {
    padding: 40px 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.register-link {
    margin-top: 20px;
    text-align: center;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* En pantallas pequeñas, la imagen se oculta */
    }

    .image-container {
        display: none; /* Oculta la imagen en pantallas pequeñas */
    }
}
