body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#chatbox {
    width: 60%;
    margin: 20px auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-message {
    margin: 10px 0;
}

.menu-vertical {
    width: 200px;
    position: absolute;
    top: 0; 
    left: 0;
    height: 100%;
    background-color: #333;
    padding-top: 20px;
}


.menu-vertical ul {
    list-style-type: none;
    padding: 0;
}

.menu-vertical ul li {
    padding: 10px;
    text-align: center;
}

.menu-vertical ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.menu-vertical ul li a:hover {
    background-color: #575757;
}