<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesResetPassword.css') }}">
</head>

<body>
    <div class="container">
        <h1>Reiniciar contraseña</h1>
        <div id="alert-container" class="mb-4">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <form method="POST">
            <label for="password">nueva contraseña:</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">actualizar contraseña</button>
        </form>
    </div>
</body>

</html>